@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* CSS - Global Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #16161A;
    --cor-off-fundo: #252526;
    --cor-titulo: #FFFFFE;
    --cor-fonte: #94A1B2; 
    --destaque: #f85a45;
    --borda: #2d2d2d;
}

body {
    background-color: var(--cor-fundo);
    color: var(--destaque);
}

html {
    font-size: 16px;
}

h1 {
    font-family: "Merriweather", serif;
    font-size: 37px;
    color: var(--cor-titulo);
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

h2 {
    font-family: "Merriweather", serif;
    font-size: 1rem;
    color: var(--cor-titulo);
    font-weight: 500;
    text-rendering: optimizeLegibility;
    text-align: right;
}

p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    text-indent: 30px;
    color: var(--cor-fonte);
    font-size: 22px;
}

/* Header Style */

header {
    display: flex;
    background-color: var(--cor-fundo);
    align-items: center;
    padding: 0px 30px;
    height: 8vh;
    position: sticky;
    top: 0;
    z-index: 1;
}

#perfil {
    display: flex;
    padding-right: 15px;
    border-radius: 25px 25px;
    background-color: var(--cor-fundo); /* Manutenção */
    align-items: center;
}
#perfil > img {
    width: 48px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}
#perfil span {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bolder;
    color: var(--cor-titulo);
}

#menu {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
#menu a {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: var(--cor-fonte);
    transition: color 0.3s ease, transform 0.3s ease;
}
#menu a:hover {
    color: var(--cor-titulo);
    transform: translateY(-3px);
}

 /* Main Styles */

main {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    width: 100%;
    gap: 20px;
}

#apresentacao {
    grid-column: 2 / 3;
    margin: 40px 0px 40px 0px;
}
#apresentacao h3 {
    font-size: 19px;
}
#apresentacao p {
    font-weight: 300;
    font-size: 20px;
}

#projetos {
    grid-column: 2 / 3;
    margin-bottom: 100px;
}

#habilidades {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
}
.skill-container {
    display: grid;
    gap: 10px;
    background-color: var(--cor-off-fundo);
    font-family: "Open Sans", sans-serif;
    color: var(--cor-titulo);
    font-size: 14px;
    border-radius: 10px;
    padding: 20px;
    font-weight: 600;
}
#habilidades .info {
    display: flex;
    justify-content: space-between;
}
.barra {
    width: 100%;
    background-color: var(--borda);
    border-radius: 5px;
}
.barra .progresso {
    height: 10px;
    border-radius: 5px;
    background-color: var(--destaque);
}

#formacao {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
}
#formacoes-container {
    display: grid;
    gap: 15px;
}
.formacao-item {
    display: grid;
    gap: 5px;
    background-color: var(--cor-off-fundo);
    border-left: 7px solid var(--destaque);
    padding: 20px;
    border-radius: 10px;
    transition: border-left-width 0.5s ease-out, transform 0.5s ease-out, box-shadow 0.5s ease-out;
}
.formacao-item:hover {
    border-left: 12px solid var(--destaque);
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.formacao-item h2 {
    font-family: "Merriweather", serif;
    font-size: 14px;
    text-align: left;
    color: var(--cor-titulo);
}
.formacao-item h3 {
    font-family: "Merriweather", serif;
    font-size: 14px;
    text-align: left;
    color: var(--destaque);
}
.formacao-item p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    hyphens: auto;
    text-indent: 30px;
    color: var(--cor-fonte);
    font-size: 16px;
}

#experiencia {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
}
#exp-container {
    display: grid;
    gap: 15px;
}
.exp-item {
    display: grid;
    gap: 5px;
    background-color: var(--cor-off-fundo);
    border-left: 7px solid var(--destaque);
    padding: 20px;
    border-radius: 10px;
    transition: border-left-width 0.5s ease-out, transform 0.5s ease-out, box-shadow 0.5s ease-out;
}
.exp-item:hover {
    border-left: 12px solid var(--destaque);
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.exp-item h2 {
    font-family: "Merriweather", serif;
    font-size: 14px;
    text-align: left;
    color: var(--cor-titulo);
}
.exp-item h3 {
    font-family: "Merriweather", serif;
    font-size: 14px;
    text-align: left;
    color: var(--destaque);
}
.exp-item p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    text-indent: 30px;
    color: var(--cor-fonte);
    font-size: 16px;
}

#contato {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
}


/* Footer Style */

footer {
    width: 100%;
    height: 8vh;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
footer hr {
    height: 1px;
    width: 100%;
}
footer p {
    font-size: 1em;
    text-align: center;
    padding-top: 20px;
    color: var(--cor-fonte);
}
