@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* CSS - Global Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #16161A;
    --cor-off-fundo: #252526;
    --cor-titulo: #FFFFFE;
    --cor-fonte: #94A1B2; 
    --destaque: #f85a45;
    --off-destaque: #ff6854;
    --borda: #585858;
}

body {
    background-color: var(--cor-fundo);
    color: var(--destaque);
}

html {
    font-size: 16px;
}

h1 {
    font-family: "Merriweather", serif;
    font-size: 37px;
    color: var(--cor-titulo);
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

h2 {
    font-family: "Merriweather", serif;
    font-size: 1rem;
    color: var(--cor-titulo);
    font-weight: 500;
    text-rendering: optimizeLegibility;
    text-align: right;
}

p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    text-indent: 30px;
    color: var(--cor-fonte);
    font-size: 22px;
}

a {
    text-decoration: none;
    color: var(--cor-fonte);
}

/* Header Style */

header {
    display: flex;
    background-color: var(--cor-fundo);
    align-items: center;
    padding: 10px 30px;
    min-height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
}

#perfil {
    display: flex;
    padding-right: 15px;
    border-radius: 25px;
    align-items: center;
    cursor: pointer;
}
#perfil > img {
    width: 48px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}
#perfil span {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bolder;
    color: var(--cor-titulo);
    transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}
#perfil:active {
    background-color: var(--cor-off-fundo);
    transform: scale(0.98);
}

#menu {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
#menu > ul > li > a {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: var(--cor-fonte);
    padding: 8px; 
    border-radius: 50%; 
    transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}
#menu > ul > li > a:active {
    background-color: var(--cor-off-fundo);
    color: var(--cor-titulo);
    transform: scale(0.98);
}

 /* Main Styles */

main {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    width: 100%;
    gap: 15px;
}

#apresentacao {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    margin: 40px 0px 0px 0px;
    gap: 10px;
}
#apresentacao h3 {
    font-size: 19px;
}
#apresentacao p {
    font-weight: 300;
    font-size: 20px;
}
#video {
    padding: 150px;
    background-color: var(--cor-off-fundo);
    border: 2px dashed green;
    border-radius: 10px;
}
#curriculo {
    display: flex;
    align-items: center;
    gap: 30px;
}
#curriculo p {
    font-size: 18px;
}
#curriculo a {
    background-color: var(--destaque);
    font-family: "Open Sans", sans-serif;
    margin: 10px 20px 0px 0px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    width: 160px;
    color: var(--cor-titulo);
    transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}
#curriculo a:active {
    background-color: var(--off-destaque);
    transform: scale(0.98);
}

#projetos {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
}
#projeto-container {
    padding: 200px;
    background-color: var(--cor-off-fundo);
    border: 2px dashed green;
    border-radius: 10px;
}

#habilidades {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
}
.skill-container {
    display: grid;
    gap: 10px;
    background-color: var(--cor-off-fundo);
    font-family: "Open Sans", sans-serif;
    color: var(--cor-titulo);
    font-size: 14px;
    border-radius: 10px;
    padding: 20px;
    font-weight: 600;
}
#habilidades .info {
    display: flex;
    justify-content: space-between;
}
.barra {
    width: 100%;
    background-color: var(--borda);
    border-radius: 5px;
}
.barra .progresso {
    height: 10px;
    border-radius: 5px;
    background-color: var(--destaque);
}

#formacao {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
}
#formacoes-container {
    display: grid;
    gap: 15px;
}
.formacao-item {
    display: grid;
    gap: 5px;
    background-color: var(--cor-off-fundo);
    border-left: 7px solid var(--destaque);
    padding: 20px;
    border-radius: 10px;
}
.formacao-item h2 {
    font-family: "Merriweather", serif;
    font-size: 14px;
    text-align: left;
    color: var(--cor-titulo);
}
.formacao-item h3 {
    font-family: "Merriweather", serif;
    font-size: 14px;
    text-align: left;
    color: var(--destaque);
}
.formacao-item p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    hyphens: auto;
    text-indent: 30px;
    color: var(--cor-fonte);
    font-size: 16px;
}

#experiencia {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
}
#exp-container {
    display: grid;
    gap: 15px;
}
.exp-item {
    display: grid;
    gap: 5px;
    background-color: var(--cor-off-fundo);
    border-left: 7px solid var(--destaque);
    padding: 20px;
    border-radius: 10px;
}
.exp-item h2 {
    font-family: "Merriweather", serif;
    font-size: 14px;
    text-align: left;
    color: var(--cor-titulo);
}
.exp-item h3 {
    font-family: "Merriweather", serif;
    font-size: 14px;
    text-align: left;
    color: var(--destaque);
}
.exp-item p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    text-indent: 30px;
    color: var(--cor-fonte);
    font-size: 16px;
}

#contato {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
}
#formulario-container {
    border: 1px solid var(--borda);
    border-radius: 10px;
    margin-bottom: 20px;
}
#top-bar {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 10px 0px;
    gap: 10px;
    color: var(--cor-fonte);
    font-size: 14px;
}
#formulario {
    background-color: var(--cor-off-fundo);
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid var(--borda);
    padding: 50px 40px 50px 40px;
}
#formulario-itens {
    display: grid;
    gap: 10px;
}
#formulario-itens label {
    font-family: "Open Sans", sans-serif;
    color: var(--cor-titulo);
    font-size: 14px;
    font-weight: 600;
}
#formulario-itens span {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
    color: var(--cor-titulo);
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}
#nome, #email {
    background-color: var(--borda);
    border-bottom: 4px solid var(--destaque);
    color: var(--cor-titulo);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
#mensagem {
    font-family: "Open Sans", sans-serif;
    background-color: var(--borda);
    color: var(--cor-titulo);
    border-bottom: 4px solid var(--destaque);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    cursor: pointer;
}
#botao {
    width: 120px;
    justify-self: center;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--destaque);
    color: var(--cor-titulo);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}
#botao:active {
    background-color: var(--off-destaque);
    transform: scale(0.98);
}

/* Footer Style */

footer {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    border-top: 1px solid var(--borda);
    padding: 20px;
}
#icones {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: var(--cor-titulo);
    gap: 20px;
    transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}
#icones a:active {
    background-color: var(--cor-off-fundo);
    color: var(--cor-titulo);
    transform: scale(0.98);
}
footer p {
    font-size: 1em;
    text-align: center;
    color: var(--cor-fonte);
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    header, main, footer {
        max-width: 900px;
    }
}

@media screen and (min-width: 1200px) {
    header, main, footer {
        max-width: 1200px;
    }
}

/*
#menu a {
transition: color 0.3s ease, transform 0.3s ease;
}
#menu a:hover {
    color: var(--cor-titulo);
    transform: translateY(-3px);
}

#curriculo a {
    transition: color 0.3s ease, transform 0.3s ease;
}
#curriculo a:hover {
    background-color: #ff6854;
    cursor: pointer;
    transform: translateY(-3px);
}

.formacao-item {
    transition: border-left-width 0.5s ease-out, 
    transform 0.5s ease-out, box-shadow 0.5s ease-out;
}
.formacao-item:hover {
    border-left: 12px solid var(--destaque);
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.exp-item {
    transition: border-left-width 0.5s ease-out, transform 0.5s ease-out, box-shadow 0.5s ease-out;
}
.exp-item:hover {
    border-left: 12px solid var(--destaque);
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

footer a {
    transition: color 0.3s ease, transform 0.3s ease;
}
footer a:hover {
    color: var(--cor-titulo);
    transform: translateY(-3px);
}
*/
