@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* CSS - Global Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #16161A;
    --cor-off-fundo: #252526;
    --cor-titulo: #FFFFFE;
    --cor-fonte: #94A1B2; 
    --destaque: #fc3f68;
    --off-destaque: #ff2655;
    --borda: #585858;
}

body.claro {
    --cor-fundo: #F6F6EF;
    --cor-off-fundo: #e4e4db;
    --cor-titulo: #16161A;
    --cor-fonte: #000000; 
    --destaque: #99C221;
    --off-destaque: #81ac0b;
    --borda: #cfc9c3;
}

body {
    background-color: var(--cor-fundo);
    color: var(--off-destaque);
    transition: background-color 0.3s ease, color 0.3s ease;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

h1 {
    font-family: "Merriweather", serif;
    font-size: 37px;
    color: var(--cor-titulo);
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

h2 {
    font-family: "Merriweather", serif;
    font-size: 1rem;
    color: var(--cor-titulo);
    font-weight: 500;
    text-rendering: optimizeLegibility;
    text-align: right;
}

p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    text-indent: 30px;
    color: var(--cor-fonte);
    font-size: 22px;
}

a {
    text-decoration: none;
    color: var(--cor-fonte);
}

/* Header Style */

header {
    display: flex;
    background-color: var(--cor-fundo);
    align-items: center;
    padding: 10px 20px;
    min-height: 60px;
    position: sticky;
    top: 0;
    z-index: 10000;
    transform: translateZ(0);
}

#perfil {
    display: flex;
    background-color: var(--cor-fundo);
    padding-right: 15px;
    border: none;
    border-radius: 25px;
    align-items: center;
    cursor: pointer;
}
#perfil > img {
    width: 48px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}
#perfil span {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    color: var(--cor-titulo);
    transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}
#perfil:active {
    background-color: var(--cor-off-fundo);
    transform: scale(0.98);
}

#menu {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10001;
}
#menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: fixed;
    margin-top: 8px;
    top: 60px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    background-color: var(--cor-fundo);
    padding: 20px; 
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;

    -webkit-overflow-scrolling: touch;
}
#menu > ul > li:last-child {
    padding-bottom: 60px; 
}

@media (max-height: 450px) {
    #menu > ul > li {
        padding: 10px;
    }
    #menu > ul > li > a {
        font-size: 18px;
    }
}

body.mobile-menu #menu ul {
    opacity: 1;
    width: 100%;
    visibility: visible;
    z-index: 1000
}
body.mobile-menu {
    overflow: hidden;
}
#menu > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    transition: background-color 0.2s ease-out;
}
#menu > ul > li:active {
    color: var(--cor-titulo);
}
#menu > ul > li > a {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: var(--cor-fonte);
}
#menu .menu-botoes {
    display: flex;
    align-items: center;
    gap: 15px;
}
#menu .interacao {
    display: inline-block;
    background-color: var(--cor-fundo);
    font-size: 20px;
    text-decoration: none;
    margin-right: 5px;
    color: var(--cor-fonte);
    padding: 4px; 
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}
#menu .interacao:active {
    color: var(--cor-titulo);
    transform: scale(0.98);
}

 /* Main Styles */

main {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    width: 100%;
    gap: 15px;
}

#apresentacao {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    margin: 30px auto 0px auto;
    gap: 10px;
    scroll-margin-top: 100px;
    width: 100%;
    max-width: 1200px;
    padding: 0px 10px;
}
#biografia {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#apresentacao h3 {
    font-size: 19px;
}
#apresentacao h1 {
    font-size: 22px;
}
.typed-cursor {
    color: var(--destaque);
    font-size: 1.2em;
    opacity: 1;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#apresentacao p {
    font-weight: 300;
    font-size: 1rem;
    margin: 10px 0px;
    word-wrap: break-word;
    hyphens: auto;
}
#video-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 16/9;
    border-radius: 10px;
    overflow: hidden;
}
#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
    z-index: 1;
}
#curriculo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 10px;
}
#curriculo p {
    text-indent: 0px;
    font-size: 17px;
}
#curriculo a {
    background-color: var(--off-destaque);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    color: var(--cor-titulo);
    transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}
#curriculo a:active {
    background-color: var(--destaque);
    transform: scale(0.98);
}

#projetos {
    display: grid;
    grid-column: 2 / 3;
    gap: 10px;
    scroll-margin-top: 70px;
}
#container-projetos {
    display: grid;
    grid-template-rows: minmax(162, auto) 320px;
    gap: 20px;
    place-items: center;
}
#projeto-container {
    background-color: var(--cor-off-fundo);
    border: 2px solid var(--borda);
    max-width: 482px;
    border-radius: 10px;
}
.imagem-projeto {
    max-width: 1200px;
    object-fit: cover;
    overflow: hidden;
}
.imagem-projeto img {
    aspect-ratio: 16 / 9;
    border-radius: 9px 9px 0px 0px;
    border-bottom: 2px solid var(--borda);
    width: 100%;
}
.info-projeto {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    background-color: var(--cor-off-fundo);
    border-radius: 0px 0px 10px 10px;
    hyphens: auto;
    padding: 25px;
    gap: 6px;
}
.info-projeto h2 {
    text-align: left;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}
.info-projeto .links {
    display: flex;
    gap: 20px;
}
.links a {
    color: var(--cor-titulo);
}
.tit-projeto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
#dificuldade {
    display: flex;
    align-items: center;
    gap: 5px;
}
.tit-projeto .nivel {
    color: var(--off-destaque);
    font-size: 1rem;
}
.links a {
    transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}
.links a:active {
    color: var(--cor-titulo);
    transform: scale(0.98);
}
.info-projeto p {
    font-size: 1rem;

    hyphens: auto;
}
.rodape {
    display: flex;
    flex-direction: column;
}
.tools {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin: 6px 0px 6px 0px;
}
.rodape span {
    display: inline-block;
    font-size: 10px;
    color: var(--cor-titulo);
    border: 2px solid var(--borda);
    border-radius: 20px;
    padding: 6px;
}
.rodape h3 {
    font-family: "Merriweather", serif;
    align-self: flex-end;
    font-size: 14px;
    color: var(--off-destaque);
}

.testimonials-slider {
    padding: 20px 0 50px 0;
    width: 100%;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

#projeto-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.swiper-pagination-bullet {
    background: var(--off-destaque);
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    width: 20px;
    border-radius: 5px;
}

.certificados-slider {
    width: 100%;
    overflow: hidden;
    align-items: center;
    padding-bottom: 30px;
}

.certificados-slider .swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-pagination-cert {
    text-align: center;
    margin-top: 15px;
}

.slider-container {
    overflow: hidden;
    width: 100%;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease;
}

#habilidades {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
    scroll-margin-top: 70px;
}
#cont-skill {
    display: grid;
    gap: 20px;
}
.skill-container {
    display: grid;
    gap: 10px;
    background-color: var(--cor-off-fundo);
    font-family: "Open Sans", sans-serif;
    color: var(--cor-titulo);
    font-size: 14px;
    border-radius: 10px;
    padding: 20px;
    font-weight: 600;
}
#habilidades .info {
    display: flex;
    justify-content: space-between;
}
.barra {
    width: 100%;
    height: 10px;
    background-color: var(--borda);
    border-radius: 5px;
}
.barra .progresso {
    height: 100%;
    border-radius: 5px;
    background-color: var(--destaque);
}

#formacao {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
    scroll-margin-top: 70px;
}
#formacoes-container {
    display: grid;
    gap: 15px;
}
.formacao-item {
    display: grid;
    gap: 5px;
    background-color: var(--cor-off-fundo);
    border-left: 7px solid var(--off-destaque);
    padding: 20px;
    border-radius: 10px;
}
.formacao-item h2 {
    font-family: "Merriweather", serif;
    font-size: 16px;
    text-align: left;
    color: var(--cor-titulo);
}
.formacao-item h3 {
    font-family: "Merriweather", serif;
    font-size: 12px;
    text-align: left;
    color: var(--off-destaque);
}
.formacao-item p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    hyphens: auto;
    text-indent: 30px;
    color: var(--cor-fonte);
    font-size: 16px;
}

#certificacoes {
    display: grid;
    grid-column: 2 / 3;
    gap: 15px;
    scroll-margin-top: 70px;
}
#certificacoes .slider-container {
    overflow: hidden;
}
#certificacoes .slider-track {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
}
.slide {
    display: grid;
    grid-template-rows: 320px minmax(162px, auto);
    border-radius: 10px;
    max-width: 482px;
    border: 2px solid var(--borda);
    overflow: hidden;
}
.certificado img {
    width: 100%;
    max-width: 800px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.info-cert {
    background-color: var(--cor-off-fundo);
    display: grid;
    max-width: 800px;
    padding: 25px;
    border-radius: 0px 0px 10px 10px;
    hyphens: auto;
    gap: 10px;
}
.info-cert h2 {
    text-align: left;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
.info-cert p {
    font-size: 14px;
    hyphens: auto;
}
.info-cert span {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

#experiencia {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
    scroll-margin-top: 70px;
}
#exp-container {
    display: grid;
    gap: 15px;
}
.exp-item {
    display: grid;
    gap: 5px;
    background-color: var(--cor-off-fundo);
    border-left: 7px solid var(--off-destaque);
    padding: 20px;
    border-radius: 10px;
}
.exp-item h2 {
    font-family: "Merriweather", serif;
    font-size: 16px;
    text-align: left;
    color: var(--cor-titulo);
}
.exp-item h3 {
    font-family: "Merriweather", serif;
    font-size: 12px;
    text-align: left;
    color: var(--off-destaque);
}
.exp-item p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    text-indent: 30px;
    hyphens: auto;
    color: var(--cor-fonte);
    font-size: 16px;
}

#contato {
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
    scroll-margin-top: 70px;
}
#contato aside {
    display: flex;
    justify-content: center;
}
#formulario-container {
    border: 1px solid var(--borda);
    width: 100%;
    max-width: 854px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#top-bar {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 10px 0px;
    gap: 10px;
    color: var(--cor-fonte);
    font-size: 14px;
}
#formulario {
    background-color: var(--cor-off-fundo);
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid var(--borda);
    padding: 50px 40px 50px 40px;
}
#formulario-itens {
    display: grid;
    gap: 10px;
}
#formulario-itens label {
    font-family: "Open Sans", sans-serif;
    color: var(--cor-titulo);
    font-size: 14px;
    font-weight: 600;
}
#formulario-itens span {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
    color: var(--cor-titulo);
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}
#nome, #email {
    background-color: var(--borda);
    border-bottom: 4px solid var(--off-destaque);
    color: var(--cor-titulo);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
#mensagem {
    font-family: "Open Sans", sans-serif;
    background-color: var(--borda);
    color: var(--cor-titulo);
    border-bottom: 4px solid var(--off-destaque);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    cursor: pointer;
}
#botao {
    width: 120px;
    justify-self: center;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--off-destaque);
    color: var(--cor-titulo);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}
#botao:active {
    background-color: var(--destaque);
    transform: scale(0.98);
}

/* Footer Style */

footer {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    border-top: 1px solid var(--borda);
    padding: 10px 0px;
}
#icones {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: var(--cor-titulo);
    gap: 10px;
    transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}
#icones a {
    padding: 8px; 
    border-radius: 50%; 
}
#icones a:active {
    background-color: var(--cor-off-fundo);
    color: var(--cor-titulo);
    transform: scale(0.98);
}
footer p {
    font-size: 1em;
    text-align: center;
    text-indent: 0px;
    color: var(--cor-fonte);
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    #apresentacao h1 {
    font-size: 32px;
    }

    #apresentacao p {
    font-size: 22px;
    }
    #cont-skill {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
}

@media screen and (min-width: 1200px) {
    #menu .interacao:hover {
        color: var(--cor-titulo);
        transform: scale(0.98);
    }

    main {
        grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    }

    #menu a {
    transition: color 0.3s ease, transform 0.3s ease;
    }
    #menu a:hover {
        color: var(--cor-titulo);
        transform: translateY(-3px);
    }
    #menu > ul > li:hover {
        color: var(--cor-titulo);
    }

    #curriculo a {
        transition: color 0.3s ease, transform 0.3s ease;
    }
    #curriculo a:hover {
        background-color: var(--destaque);
        cursor: pointer;
        transform: scale(1);
    }

    .links a:hover {
        color: var(--destaque);
        transform: translateY(-3px);
    }

    .formacao-item {
        transition: border-left-width 0.5s ease-out, 
        transform 0.5s ease-out, box-shadow 0.5s ease-out;
    }
    .formacao-item:hover {
        border-left: 12px solid var(--destaque);
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .exp-item {
        transition: border-left-width 0.5s ease-out, transform 0.5s ease-out, box-shadow 0.5s ease-out;
    }
    .exp-item:hover {
        border-left: 12px solid var(--destaque);
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    #botao:hover {
        background-color: var(--destaque);
        cursor: pointer;
        transform: scale(1);
    }

    footer a {
        transition: color 0.3s ease, transform 0.3s ease;
    }
    footer a:hover {
        color: var(--cor-titulo);
        transform: translateY(-3px);
    }
}
